<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- locals.title || 'JeremyJaydan' %></title>
    <style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
      }
    </style>
    <script src="/~/client.js"></script>
    <%- locals.head || '' %>
  </head>
  <body>
    <%- locals.body || '' %>
  </body>
</html>